
.button {
    background-color: #4CAF50;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}


.submit {
    background-color: #4CAF50;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.parent {
  display: flex;
}

.imageClass {
    flex: 1;
    padding-left: 15px;
}

.predict {
    position: absolute;
    top: 300px;
}